{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-category %}
    <div class="container mt-4">
        <h2>TỔNG QUAN</h2>

        <section class="mt-3">
            <div class="container">
                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Đơn hàng
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ orders.count }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Annual) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Doanh thu
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }} VND</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Thành viên
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ member.count }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Phản hồi
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="mt-3">
        <div class="container">
            <h4>DOANH THU TRONG 30 NGÀY </h4>
                <div class="row">
                    <canvas id="myChart" width="400" ></canvas>
                </div>
        </div>

    </section>
    </div>

    <script>
        // Dữ liệu số lượt đọc trong 7 ngày qua
        var data = {
            labels: [
                {% for date, _ in revenue_data %}
                    "{{ date}}",
                {% endfor %}
            ],
            datasets: [{
                label: "Doanh thu",
                data: [
                    {% for _, total_revenue_of_day in revenue_data %}
                        {{ total_revenue_of_day }},
                    {% endfor %}
                ],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                tension: 0.4,
                fill: {
                    target: 'origin',
                    above: 'rgba(54, 162, 235, 0.2)',
                }
            }]
        };

        // Tùy chỉnh biểu đồ
        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        // Tạo biểu đồ
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
    </script>

{% endblock blog-category %}
