{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-category %}
    <div class="container mt-4">
       <h2>Quản lý danh mục</h2>
    <div class="text-right mb-3">
       <button style="border: none;" class="primary-btn" data-toggle="modal" ><a href="{% url 'addCategory' %}">Thêm danh mục</a></button>
  </div>
  <section class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ảnh</th>
                                    <th>Tên Danh Mục</th>
                                    <th>Đường Dẫn</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>
                                        {{ category.id }}
                                    </td>
                                    <td>
                                        <img style="height: 100px" src="{{ category.ImageURL }}" alt="">
                                    </td>
                                    <td>
                                        {{ category.name }}
                                    </td>
                                    <td>
                                        {{ category.slug }}
                                    </td>
                                    <td>
                                        <a href="{% url 'editCategory' %}?id={{ category.id }}" class="btn btn-primary btn-sm">Sửa</a>
                                        <a href="{% url 'deleteCategory' %}?id={{ category.id }}" class="btn btn-danger btn-sm">Xóa</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock blog-category %}
