{% extends 'app/base.html' %}
{% load static %}
{% block category_context %}
    <section class="featured spad">
        <div class="container">
            <div class="row featured__filter">
                <div class="col-lg-12 col-md-6 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__controls">
                        <ul>
                            <li> <a href="{% url 'category' %}?category={{ category.slug }}">{{category.name}} </a></li>
                            {% for category in sub_categories %}
                                <li> <a href="{% url 'category' %}?category={{ category.slug }}">{{category.name}} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{product.ImageURL}}">
                            <ul class="featured__item__pic__hover">
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="{% url 'detail' %}?id={{ product.id }}">{{product.name}}</a></h6>
                            <h5>{{product.price | floatformat:2}} VND</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock category_context %}